/* Global variables */
:root{
  /*Font size*/
  --over-font-size: 62.5%; /*Convierte 10px en 1rem o sea rem en base 10 y ya no en base 16*/
  /*Base colors*/
  --Bright-Gray: #E6E8EC; /*For some border icons Neutral 6*/
  --Charleston-Green: #23262F; /*For h1, h2 headers Neutral 2*/
  --Islamic-Green: #04B90B; /*Main emphasis color*/
  --Lotion: #FCFCFD; /*Body background*/
  --Onyx: #353945; /*For big paragraph Neutral 3*/
  --Slate-Gray: #777E90; /*For explanations below headers and icons Neutral 4*/
  --White: #FFFFFF; /*Some section backgrounds*/

    --chinese-black:#141416;
    --slate-grey: #777e90;
    --cadet-blue:#b1b5c3;
    --bright-gray:#e6e8ec;
    --cultured:#f5f6fa;
    --lotion: #fcfcfd;

    --islamic-green:-#04b90b;
    --aero-blue:#d3f9d5;
    --light-coral:#ea8484;
    --lavender-blush:#fcf1f1;

    --green-blue:#106aab;
    --alice-blue:#f1f7fc;
    --dark-pink:#f25178;
    --misty-rose:#fce5e9;
    --blue-violet:#8d31e9;
    --magnolia:#f6eefd;
    --gamboge:#da9f0a;
    --cornsilk:#fcf6d8;
    --light-sea-green:#26aca0;
    --azure:#edfcfb;
}

html {
  font-size: var(--over-font-size)
}

/* Mobile First*/
html, 
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

h1{
  color: var(--Charleston-Green)
}

h1 span {
  color: var(--Islamic-Green);
}

/* Header */
.header {
  border: 1px dotted red;
}

.container {
  border: 1px dotted blue;
  box-sizing: border-box; /*Hace que los padding no aumenten el tamaño del contenedor*/
  margin: 0 auto;         /*Centrado del contenedor*/
  max-width: 96vw;        /*Ancho maximo*/
  padding: 0 .8rem;         /*El padding no aumenta el tamaño del contenedor*/
}

.container_fluid {
  border: 1px solid orangered;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0;
}

.menu_main {
  display: none;
}

.nav_navbar {
  align-items: center;
  display: flex;
  height: 4.4rem;
  justify-content: space-between;
}

.menu__link {
  color: var(--Slate-Gray);
  /* font-weight: bold; */
  text-decoration: none;
}

.btn {
  padding: .5rem;
  border-radius: .2rem;
}

.btn--light-green {
  background-color: var(--Islamic-Green);
  color: var(--White);
  text-transform: uppercase;
}

/* Main */

main {
  flex-grow: 1;
}
/* Footer */

/* MEDIA QUERIES */

@media (width > 568px) { /*Break point*/
  /* Header */
  .container {
    max-width: 54rem;
    padding: 0 1.6rem; /*Maneja la distancia entre el contenido y el borde del contenedor e incrementa su tamaño en 8px en cada media query*/
  }
  .menu_main {
    display: flex;
    gap: .5rem; /*em y rem se refieren al tamaño de la fuente con respecto al padre*/
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .hamburger_menu {
    display: none;
  }
  /* Main */
  /* Footer */
}

@media (width > 768px) {
  /* Header */
  .container {
    max-width: 72rem;
    padding: 0 2.4rem;
  }
  /* Main */
  /* Footer */
}

@media (width > 1024px) {
  /* Header */
  .container {
    max-width: 99.2rem;
    padding: 0 3.2rem;
  }
  /* Main */
  /* Footer */
}

@media (width > 1200px) {
  /* Header */
  .container {
    max-width: 114rem;
    padding: 0 4rem;
  }
  /* Main */
  /* Footer */
}

@media (width > 1400px) {
  /* Header */
  .container {
    max-width: 132rem;
    padding: 0 4.8rem;
  }
  /* Main */
  /* Footer */
}

@media (width > 1600px) {
  /* Header */
  .container {
    max-width: 144rem;
    padding: 0 5.6rem;
  }
  /* Main */
  /* Footer */
}

@media (width > 1920px) {
  /* Header */
  .container {
    max-width: 160rem;
    padding: 0 6.4rem;
  }
  /* Main */
  /* Footer */
}